﻿@{
    ViewData["Title"] = "İletişim";
}

<div id="hero" class="no-hero">
</div><!-- #hero -->

<div id="page_wrap" class="no-hero">
    <article class="content py-1">
        <h1 class="h4 my-5 pb-3 border-bottom text-muted">İLETİŞİM</h1>
        <div class="row align-items-center">
            <div class="col-md-6 col-12 order-md-1 order-2">

                <form class="needs-validation" method="post">
                    <h4 class="mb-1">Bize Yazın</h4>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">Ad</label>
                            <input type="text" class="form-control" name="firstname" id="firstName" placeholder="" value="" required="">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Soyad</label>
                            <input type="text" class="form-control" name="lastname" id="lastName" placeholder="" value="" required="">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email">Email <span class="text-muted"></span></label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="sen@alanadi.com" required="">
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="tel">Telefon Numarası</label>
                            <input type="tel" class="form-control" name="tel" id="tel" placeholder="" required="" maxlength="12" pattern="^[0-9-+\s()]*$">
                            <small class="text-muted"></small>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="kurum-adi">Kurum Adı</label>
                            <input type="text" class="form-control" name="kurumadi" id="kurum-adi" placeholder="" required="">
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="form-group">
                            <label for="mesaj">Mesajınız</label>
                            <textarea class="form-control" name="mesaj" id="mesaj" rows="3"></textarea>
                        </div>
                    </div>

                    <hr class="mb-4">
                    <button class="btn btn-info btn-lg btn-block" type="submit">GÖNDER</button>
                    @(Html.Raw(ViewBag.post==null?"":
                    (ViewBag.post ==true ? "<h3 class='text-success'>İlginiz için teşekkürler... en kısa zamanda sizinle iletişime geçeceğiz.</h3>"
                    : "<h3 class='text-danger'>Beklenmeyen bir durum oluştu! Lütfen girdiğiniz bilgileri kontrol edip tekrar deneyin.</h3>"))
                    )
                </form>

            </div><!-- .col -->
            <div class="col-md-5 col-12 order-md-2 order-1 d-flex flex-column ml-auto mb-md-2 mb-5 border-bottom">

                <div class="mb-3 d-flex flex-column text-center align-items-center">
                    <img class="w-25" src="~/content/images/asistek-logo.svg" alt="EduAsist">
                    <span class="text-muted">Asistek Eğitim ve Yazılım Ltd. Şti.</span>
                </div>

                <h2 class="h5">ADRES</h2>

                <p class="pl-2">
                    Akevler Mahallesi 1076 Sokak No:6 Solarkent Rezidans İSTANBUL
                </p>

                <p class="pl-2">
                    <span class="text-muted">ARGE:</span><br>
                    Şükrüpaşa Mah. Zübeyde Hanım Cad. Trakya Üniversitesi Teknoloji Geliştirme Bölgesi
                    No:3/3 Merkez/EDİRNE
                </p>

                <ul class="d-flex flex-column mt-2 pb-2">
                    <li class="my-2 d-none">
                        <a href="tel:(0541) 573 0101" class="text-dark h5" target="_blank" title="eduasist telefon numarası">
                            <img src="../content/images/icon-phone.svg" width="30"> (0541) 573 0101
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="https://twitter.com/eduasistr" class="text-dark" target="_blank" title="eduasist twitter">
                            <img src="../content/images/icon-twitter.svg" width="30"> /eduasist
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="https://www.facebook.com/eduasist/" class="text-dark" target="_blank" title="eduasist facebook">
                            <img src="../content/images/icon-facebook.svg" width="30"> /eduasist
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="https://www.instagram.com/eduasist/" class="text-dark" target="_blank" title="eduasist instagram">
                            <img src="../content/images/icon-instagram.svg" width="30"> /eduasist
                        </a>
                    </li>
                </ul>

            </div><!-- .col -->
        </div><!-- .row -->
    </article>
</div><!-- #page-wrap -->