﻿@{
    ViewData["Title"] = "EDUASIST";
    //ViewData["only-hero"] = true;
}

<div id="hero">
    <span class="hero-image-bg">
        <span class="hero-image" style="background-image: url(../content/images/heros/anasayfa-bg-1.png);"></span>
        <span class="hero-image" style="background-image: url(../content/images/heros/anasayfa-bg-2.png);"></span>
        <span class="hero-image" style="background-image: url(../content/images/heros/anasayfa-bg-3.png);"></span>
        <span class="hero-image" style="background-image: url(../content/images/heros/anasayfa-bg-4.png);"></span>
    </span>

    <div class="container-custom d-flex flex-column mt-md-5 mt-3 mx-md-1 mx-auto text-md-left text-center">
        <h1 class="hero-title my-md-5 my-2">
            <b>Eğitim Kurumları</b> için<br />
            2. Nesil Yönetim Programı ve<br />Dijital Yönetici Asistanı.
        </h1>
        @*<p class="hero-subtitle mt-2 mb-md-5 mb-1">
            Eğitim Kurumları 2. Nesil Yönetim Programı ve Dijital Yönetici Asistanı.
        </p>*@
        <div class="hero-home-btns my-md-5 my-1 mx-0 row">
            <a href="/#main" class="more-link col col-md-auto btn btn-lg btn-light my-2 mx-md-4 mx-2" title="EduAsist Okul">
                <img src="~/content/images/logo.svg">
                <strong>OKUL</strong>
            </a>
            <a href="/#main" class="more-link col col-md-auto btn btn-lg btn-light my-2 mx-md-4 mx-2" title="EduAsist Kurs">
                <img src="~/content/images/logo.svg">
                <strong>KURS</strong>
            </a>
        </div>
        <a href="#page_wrap" class="more-link more-page-content" title="devamı"></a>
    </div><!-- .container-custom -->
</div><!-- #hero -->



<div id="page_wrap">

    <nav id="page-content-menu" class="fixed-top bg-light shadow-sm">
        <ul class="container-custom py-2 shadow-sm d-flex flex-nowrap justify-content-end">
            <li><a href="#isletme" class="more-link text-dark" title="İşletme Modülü">İşletme</a></li>
            <li><a href="#finans-ve-muhasebe" class="more-link text-dark" title="Finans ve Muhasebe Modülü">Finans ve Muhasebe</a></li>
            <li><a href="#yonetim" class="more-link text-dark" title="Yönetim Modülü">Yönetim</a></li>
            <li><a href="#egitim" class="more-link text-dark" title="Eğitim Modülü">Eğitim</a></li>
            <li><a href="#teklif-al" class="more-link text-dark">Teklif Al</a></li>
        </ul>
    </nav>

    <div class="row no-gutters flex-md-nowrap w-100">
        <div class="col-md-6 col-12 order-md-0 order-1 py-5 text-center overflow-hidden d-flex flex-column justify-content-center">
            <h2 class="display-5">EduAsist nedir?</h2>
            <p class="lead px-5" style="font-size:1.25rem;line-height:1.5;">
                Kayıt görüşmesinden mezuniyete, yoklamadan muhasebeye kadar tüm süreç ve tüm alanlarda;
                verilerin,  sistemli ve güvenli bir şekilde tutulmasını, bu verilerden ayrıntılı ve analizli raporlar elde edilmesini
                aynı zamanda makine öğrenmesi algoritmalarıyla yaptığı çıkarımlarla, tüm yönetim kadrosunun periyodik bir şekilde bilgilendirilmesini
                sağlayan bir yönetim programıdır.
            </p>
        </div>
        <div class="col-md-6 col-12 order-md-1 order-0 d-flex flex-column justify-content-center">
            <img style="object-fit:cover" src="~/Content/images/heros/n_nedir.png" title="EduAsist Nedir" />
        </div>
    </div>
    <div class="row no-gutters flex-md-nowrap w-100">
        <div class="col-md-6 col-12 order-md-0 order-0 d-flex flex-column justify-content-start">
            <img style="object-fit:cover" src="~/Content/images/heros/n_neden.png" title="Neden EduAsist" />
        </div>
        <div class="col-md-6 col-12 order-md-1 order-1 py-5 text-center overflow-hidden d-flex flex-column justify-content-center">
            <h2 class="display-5">Neden EduAsist?</h2>
            <ul style="font-size:1.25rem;line-height:1.5;font-weight: 300; margin-left:10px;">
                <li>Veri kaybı yaşamamak için</li>
                <li>Kurumsal Hafıza oluşturmak için</li>
                <li>Birimler arası iletişimi arttırabilmek için</li>
                <li>Daha iyi görmek için</li>
                <li>Daha iyi planlayabilmek için</li>
                <li>Daha doğru kararlar almak için</li>
                <li>Daha iyi yönetebilmek için…</li>
            </ul>
        </div>
    </div>
    <div class="row no-gutters flex-md-nowrap w-100">
        <div class="col-md-6 col-12 order-md-1 order-1 py-5 text-center overflow-hidden d-flex flex-column justify-content-center">
            <h2 class="display-5">Özellikler</h2>
            <ul style="font-size:1.25rem;line-height:1.5;font-weight: 300; margin-left:10px;">
                <li>İnternet olan her yerden ulaşabilirsiniz</li>
                <li>Bilgisayar, Tablet ve Mobil uyumludur</li>
                <li>Hızlı, Kolay, Anlaşılır ve Güvenlidir</li>
                <li>Hiyerarşik yapınıza uyarlayabilirsiniz</li>
                <li>Sorumluluklar doğrultusunda yetkilendirme yapabilirsiniz</li>
                <li>Makine Öğrenmesiyle size Öngörü Raporları sunar</li>
                <li>Veri Madenciliği yapar ve size analizler sunar</li>
            </ul>
        </div>
        <div class="col-md-6 col-12 order-md-1 order-0 d-flex flex-column justify-content-start">
            <img style="object-fit:cover" src="~/Content/images/heros/n_ozellikler.png" title="EduAsist Özellikler" />
        </div>
    </div>

    <hr />

    <article class="content row my-5">
        <div class="col-12">
            <h2 class="display-5 text-center">ÇÖZÜMLER</h2>
        </div>
        <div class="col-12">
            <p class="text-center text-dark h5">
                Öğrenciden kurucuya, kayıt görüşmesinden mezuniyet törenine, yoklamadan muhasebeye
            </p>
            <p class="text-center mb-3 text-dark h5">
                <b>Tüm birimlere tüm alanlarda</b> yüzlerce çözüm sunar
            </p>
            <p class="text-center mb-0">
                Çözümlerimizden bazıları…
            </p>
        </div>
        <ul class="col-12 row mx-0">
            <li class="col-md-3 col-12 p-2">
                <div class="module-item d-flex flex-column rounded">
                    <img src="~/content/images/content/icon-modul-isletme.svg" alt="title">
                    <h2>İşletme</h2>
                    <a href="#isletme" class="stretched-link more-link" title="İşletme Modülü"></a>
                </div>
            </li><!-- .col -->
            <li class="col-md-3 col-12 p-2">
                <div class="module-item d-flex flex-column rounded">
                    <img src="~/content/images/content/icon-modul-finans.svg" alt="title">
                    <h2>Finans ve Muhasebe</h2>
                    <a href="#finans-ve-muhasebe" class="stretched-link more-link" title="Finans ve Muhasebe Modülü"></a>
                </div>
            </li><!-- .col -->
            <li class="col-md-3 col-12 p-2">
                <div class="module-item d-flex flex-column rounded">
                    <img src="~/content/images/content/icon-modul-yonetim.svg" alt="title">
                    <h2>Yönetim</h2>
                    <a href="#yonetim" class="stretched-link more-link" title="Yönetim Modülü"></a>
                </div>
            </li><!-- .col -->
            <li class="col-md-3 col-12 p-2">
                <div class="module-item d-flex flex-column rounded">
                    <img src="~/content/images/content/icon-modul-egitim.svg" alt="title">
                    <h2>Eğitim</h2>
                    <a href="#egitim" class="stretched-link more-link" title="Eğitim Modülü"></a>
                </div>
            </li><!-- .col -->
        </ul><!-- .row -->
        <h1 class="col-12 content-title text-center mb-3 text-dark">
            Hızlı, Kolay, Anlaşılır, Güvenli ve Online…
        </h1>
    </article>

    <!--  CONTENTS ------  -->


    <hr />

    <article id="isletme" class="content my-5 d-flex flex-column">
        <h1 class="content-title mt-md-0 mt-5">
            <strong>İŞLETME</strong>
            <span><b>Kayıtların</b> arttırılabilmesi için tasarlandı.</span>
        </h1>
        <div class="content-collapse my-auto">
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-1.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>ARAMA <span class="text-muted">PROGRAMI</span></h2>
                    <p class="lead">
                        Arama kart sistemi ile arama ekiplerinin daha verimli arama yapmasını sağlar ve tüm arama süreç ve analizlerini inceleyebilirsiniz.
                        Oluşturmuş olduğunuz arama datalarını arşivleyebilir ve data kaybını engellemiş olursunuz.
                    </p>
                </div>
            </div>
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-2.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>KAYIT GÖRÜŞME <span class="text-muted">PROGRAMI</span></h2>
                    <p class="lead">
                        Görüşme sürecinin başlangıcından kayda kadar devam eden tüm görüşme ayrıntılarının girilmesini ve
                        bu görüşmelerden ayrıntılı raporla elde etmenizi sağlar.
                    </p>
                </div>
            </div>
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-3.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>İÇ KAYIT <span class="text-muted">PROGRAMI</span></h2>
                    <p class="lead">
                        Hangi kurumdan, hangi şubeden, hangi sınıftan; kimlerin ödemesinin bittiği,
                        kimlerle görüşme yapıldığı, kaç kayıt alındığı, artış oranları gibi birçok
                        bilginin tutulmasını ve analizli raporlarla incelenmesini sağlar.
                    </p>
                </div>
            </div>
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-4.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>BURSLULUK SINAVI <span class="text-muted">PROGRAMI</span></h2>
                    <p class="lead">
                        Bursluluk sınavlarından elde edilen dataların işletmesel verilere çevrilmesini ve bunların daha verimli takip edilmesini sağlar.
                    </p>
                </div>
            </div>
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-5.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>KAYIT <span class="text-muted">PROGRAMI</span></h2>
                    <p class="lead">
                        Hangi tarihlerde, hangi bölgelerden kaç kayıt alınıldığı, kaydı gerçekleştirenin kimler olduğu,
                        ortalamalar, müşterilerin tercih nedenleri, müşterilerin beklentileri gibi birçok önemli bilginin
                        tutulmasını ve bu bilgilerden analizli raporlar elde edilmesini sağlar.
                    </p>
                </div>
            </div>

            <a href="#isletme" class="more-link btn-collapse btn btn-sm w-100 mt-auto" title="İşletme">
                DAHA FAZLA
            </a>

        </div>
    </article>

    <hr />

    <article id="finans-ve-muhasebe" class="content my-5 d-flex flex-column">
        <h1 class="content-title mt-md-0 mt-5">
            <strong>FİNANS VE MUHASEBE</strong>
            <span><b>Finansal</b> Sürecin eksiksiz takip edilebilmesi için tasarlandı.</span>
        </h1>
        <div class="content-collapse my-auto">
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-6.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>GELİR ve GİDER</h2>
                    <p class="lead">
                        Tüm gelir ve giderlerinizi kayıt altına alabilir, inceleyebilir ve güvenliğini sağlayabilirsiniz.
                        En çok nereye para harcandığını, en çok hangi paketlerden gelir elde edildiğini,
                        Şirket, kampüs, şube ve sınıf karlılıkları gibi birçok bilgiyi ayrıntılı bir şekilde inceleyebilirsiniz.
                    </p>
                </div>
            </div>
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-7.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>KASALAR ve BANKALAR</h2>
                    <p class="lead">
                        Tüm kasa ve bankalara, para giriş çıkışını eksiksiz ve kontrollü bir şekilde yapabilir,
                        bu önemli verilerinizi koruyabilir ve bu verilerden ayrıntılı raporlar elde edebilirsiniz.
                    </p>
                </div>
            </div>
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-8.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>TEDARİKÇİLER ve BORÇLAR</h2>
                    <p class="lead">
                        Tedarikçilerinizin faturalarını, yaptığınız ödemeleri alacak ve borçlarınızı girebilir ve ayrıntılı inceleyebilirsiniz.
                    </p>
                </div>
            </div>
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-9.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>FATURALANDIRMA</h2>
                    <p class="lead">
                        Fatura şablonlarını oluşturabilir, müşteri ödemelerini faturalandırabilirsiniz
                        Toplu fatura ya da tek tek faturalar kesebilirsiniz ve otomatikleştirebilirsiniz.
                    </p>
                </div>
            </div>
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-10.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>ÇEKLER ve SENETLER</h2>
                    <p class="lead">
                        Kestiğiniz ve aldığınız  çekleri görebilir ve takip edebilirsiniz.
                    </p>
                </div>
            </div>

            <a href="#finans-ve-muhasebe" class="more-link btn-collapse btn btn-sm w-100 mt-auto" title="İşletme">
                DAHA FAZLA
            </a>

        </div>
    </article>

    <hr />

    <article id="yonetim" class="content my-5 d-flex flex-column">
        <h1 class="content-title mt-md-0 mt-5">
            <strong>YÖNETİM</strong>
            <span>
                <b>Eğitim Kurumları yöneticilerine özel</b>; yönetimle ilgili çok daha<br />doğru kararlar alınabilmesi ve uygulamalar yapılabilmesi için tasarlandı.
            </span>
        </h1>
        <div class="content-collapse my-auto">
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-11.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>SATIN ALMA</h2>
                    <p class="lead">
                        Tekliflerin toplanmasından değerlendirilmesi ve karşılaştırılmasına kadar tüm süreci yönetebilir ve en iyi satın almayı gerçekleştirebilirsiniz.
                    </p>
                </div>
            </div>
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-12.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>İŞ TAKİP</h2>
                    <p class="lead">
                        Projelerinizi ve işlerinizi planlayabilir ve takip edebilirsiniz.
                        Kadroların görevlendirilmesini ve işlerin daha hızlı bir şekilde sonuçlandırılmasını sağlayabilirsiniz.
                    </p>
                </div>
            </div>
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-13.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>İNSAN KAYNAKLARI</h2>
                    <p class="lead">
                        Personellerin işe alım, özlük yönetimi, izin takibi, ve puantaj oluşturmak gibi bir çok süreci oluşturabilir ve takip edebilirsiniz.
                    </p>
                </div>
            </div>
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-1.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>İLETİŞİM</h2>
                    <p class="lead">
                        SMS, Mobil Bildirim ve Mail üzerinden hem bireysel hem de topluluk olarak mesaj gönderebilir
                        ve bu mesajlarla ilgili ayrıntılı raporlamalar alabilirsiniz.
                    </p>
                </div>
            </div>
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-2.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>RAPORLAR</h2>
                    <p class="lead">
                        İşletme, Muhasebe ve Finans, Eğitim ve Yönetim alanlarında ihtiyaç duyduğunuz tüm raporları ve kıyaslamaları görebilir ve inceleyebilirsiniz.
                    </p>
                </div>
            </div>
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-3.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>HEDEF ve PRİM</h2>
                    <p class="lead">
                        Yıllık, dönemlik ve aylık hedeflerinizi oluşturabilir ve gerçekleştirme sürecini takip edebilirsiniz.
                        Prim sisteminizi oluşturup hakkedişleri takip edebilirsiniz.
                    </p>
                </div>
            </div>
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-4.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>ANKETLER</h2>
                    <p class="lead">
                        Çalışanlarınızdan Velilerinize kadar tüm birimlere ayrı ayrı ve ya toplu bir şekilde anketler yapabilir ve
                        sonuçlarını raporlar halinde elde edebilirsiniz.
                    </p>
                </div>
            </div>

            <a href="#yonetim" class="more-link btn-collapse btn btn-sm w-100 mt-auto" title="İşletme">
                DAHA FAZLA
            </a>

        </div>
    </article>

    <hr />

    <article id="egitim" class="content my-5 d-flex flex-column">
        <h1 class="content-title mt-md-0 mt-5">
            <strong>EĞİTİM</strong>
            <span>
                Eğitim sürecinin daha iyi <br /><b>takip edilebilmesi ve geliştirilebilmesi</b> için tasarlandı.
            </span>
        </h1>
        <div class="content-collapse my-auto">
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-5.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>YOKLAMA</h2>
                    <p class="lead">
                        Öğretmenlerin cep telefonlarından ya da akıllı tahtalardan yoklamalarını almalarını ve yetkili onayıyla velilere bildirim gönderilmesini sağlar.
                    </p>
                </div>
            </div>
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-6.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>DANIŞMANLIK</h2>
                    <p class="lead">
                        Danışman öğretmenlerin danışmanlık sürecini kayıt altına alabilmelerini ve daha iyi aile iletişimi kurmalarını sağlar.
                    </p>
                </div>
            </div>
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-7.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>REHBERLİK TAKİP</h2>
                    <p class="lead">
                        Rehberliğe ihtiyacı olan öğrencilerin rehberlik birimine aktarılmasını ve sürecin takip edilmesini sağlar.
                    </p>
                </div>
            </div>
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-8.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>DERS, NÖBET ve MÜFREDAT</h2>
                    <p class="lead">
                        Otomatik ders ve nöbet programı yapılmasını, izinli öğretmenler yerine atama yapılmasını, müfredat oluşturulmasını ve takip edilmesini sağlar.
                    </p>
                </div>
            </div>
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-9.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>ÖLÇME VE DEĞERLENDİRME</h2>
                    <p class="lead">
                        Farklı tip sınavlar gerçekleştirilmesini, bu sınavların sonuçlarının açıklanmasını, duyurulmasını sağlar.
                    </p>
                </div>
            </div>
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-10.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>ETÜT-KURS-KULÜP</h2>
                    <p class="lead">
                        Çok farklı çeşitlerde birebir ya da toplu etüt kurs ve kulüp planlanmasını ve de oluşturulmasını sağlar.
                    </p>
                </div>
            </div>
            <div class="content-block" style="width:20%;">
                <img class="my-auto" src="~/content/images/modules/m-11.jpg" alt="İşletme Modülü">
                <div class="content-block-body">
                    <h2>ÖDEV TAKİP</h2>
                    <p class="lead">
                        Öğretmenler tarafından oluşturulan ödevlerin takip edilmesini bildirilmesini ve raporlanmasını sağlar.
                    </p>
                </div>
            </div>

            <a href="#egitim" class="more-link btn-collapse btn btn-sm w-100 mt-auto" title="İşletme">
                DAHA FAZLA
            </a>

        </div>
    </article>

    @{
        Html.RenderPartial("~/Views/Shared/_Price.cshtml");
    }


    <article id="isletme-modulu" class="content row my-5 d-none">
        <div class="col-md-5 d-flex flex-column my-2">
            <h1 class="content-title mt-md-0 mt-5">
                <span>İŞLETME</span>
                <strong>Kayıtların</strong> arttırılabilmesi için tasarlandı.
            </h1>
            <img class="my-auto" src="~/content/images/content/modul-isletme.svg" alt="İşletme Modülü">
        </div>
        <div class="col-md-7 d-flex flex-column justify-content-center">
            <h3>KAYIT GÖRÜŞME <span class="text-muted">PROGRAMI</span></h3>
            <p class="lead">
                Hangi tarihlerde kimler tarafından kaç görüşme yapıldığı, görüşmelerin ayrıntıları,
                görüşme süreciyle ilgili değerlendirmeleri, görüşme sonuçları gibi birçok bilginin elde edilmesini ve
                analizli raporlarla incelenmesini sağlar.
            </p>
            <h3>ARAMA <span class="text-muted">PROGRAMI</span></h3>
            <p class="lead">
                Arama kart sistemi ile arama ekiplerinin daha verimli arama yapmasını ve aramaların takip edilebilmesini sağlar.
            </p>
            <h3>İÇ KAYIT <span class="text-muted">PROGRAMI</span></h3>
            <p class="lead">
                Hangi kurumdan, hangi şubeden, hangi sınıftan; kimlerin ödemesinin bittiği, kaç görüşme yapıldığı,
                kaç kayıt alınıldığı, artış oranları gibi bir çok bilginin tutulmasını ve analizli raporlarla incelenmesini sağlar.
            </p>
            <h3>BURSLULUK SINAV TAKİP <span class="text-muted">PROGRAMI</span></h3>
            <p class="lead">
                Bursluluk sınavlarından elde edilen datanın işletmesel verilere çevrilmesini ve bunların daha verimli takip edilmesini sağlar.
            </p>
            <h3>KAYIT <span class="text-muted">PROGRAMI</span></h3>
            <p class="lead">
                Hangi tarihlerde, hangi bölgelerden kaç kayıt alınıldığı, kaydı gerçekleştirenin kimler olduğu, ortalamalar,
                müşterilerin tercih nedenleri, müşterilerin beklentileri gibi birçok önemli bilginin tutulmasını ve bu bilgilerden
                analizli raporlar elde edilmesini sağlar.
            </p>
        </div>
    </article>

    <article id="finans-ve-muhasebe-modulu" class="content row my-5 d-none">
        <div class="col-md-5 my-2 d-flex flex-column">
            <h1 class="content-title mt-md-0 mt-5">
                <span>FİNANS VE MUHASEBE</span>
                Eğitim Kurumlarına özel, <strong>Muhasebesel</strong> açık verilmemesi ve <strong>Finansal</strong> Sürecin eksiksiz takip edilebilmesi için tasarlandı.
            </h1>
            <img class="my-auto" src="~/content/images/content/modul-finans.svg" alt="Finans ve Muhasebe Modülü">
        </div>
        <div class="col-md-7 d-flex flex-column justify-content-center">
            <h3>GELİR GİDER <span class="text-muted">PROGRAMI</span></h3>
            <p class="lead">
                En çok nereye para harcandığını, En çok hangi paketlerden gelir elde edildiğini, şirket, kampüs,
                şube ve sınıf karlılıkları gibi bir çok bilginin elde edilmesini  ve ayrıntılı bir şekilde incelenmesini sağlar.
            </p>
            <h3>KASALAR VE BANKALAR <span class="text-muted">PROGRAMI</span></h3>
            <p class="lead">
                Tüm kasa ve bankalara para giriş çıkışının eksiksiz ve kontrollü bir şekilde yapılmasını,
                bu verilerin korunmasını ve bu verilerden ayrıntılı raporlar elde edilmesini sağlar.
            </p>
            <h3>TEDARİKÇİLER <span class="text-muted">PROGRAMI</span></h3>
            <p class="lead">
                Tüm satın alma süreçlerindeki tekliflerin toplanmasını, satın almaların gerçekleştirilmesini ve
                ödeme planlarının oluşturularak, ödemelerin takip edilmesini sağlar.
            </p>
            <h3>FATURALAR <span class="text-muted">PROGRAMI</span></h3>
            <p class="lead">
                Fatura şablonlarının oluşturulmasını, müşteri ödemelerinin faturalaştırılmasını, takip edilmesini
                ve otomatikleştirilerek kesilmesini sağlar.
            </p>
            <h3>FİNANSAL PLANLAMA <span class="text-muted">PROGRAMI</span></h3>
            <p class="lead">
                Finansal tüm süreçlerin planlanarak takip edilebilmesini ve süprizlerle karşılaşılmamasını sağlar.
            </p>
        </div>
    </article>

    <article id="yonetim-modulu" class="content row my-5 d-none">
        <div class="col-md-5 my-2 d-flex flex-column">
            <h1 class="content-title mt-md-0 mt-5">
                <span>YÖNETİM</span>
                <strong>Eğitim Kurumları yöneticilerine özel</strong>; yönetimle ilgili çok daha doğru kararlar alınabilmesi ve uygulamalar yapılabilmesi için tasarlandı.
            </h1>
            <img class="my-auto" src="~/content/images/content/modul-yonetim.svg" alt="Yönetim Modülü">
        </div>
        <div class="col-md-7 d-flex flex-column justify-content-center">
            <h3>ASİSTAN <span class="text-muted">PROGRAMI</span></h3>
            <p class="lead">
                Program makine öğrenmesi algoritmaları ile yapacağı çıkarımlarla periyodik bilgilendirmeler yaparak,
                gelecek gündemler için önceden hazırlık yapılmasını sağlar ve kritik konulardaki karar alma süreçlerine katkı sağlar.
            </p>
            <h3>İŞ TAKİP <span class="text-muted">PROGRAMI</span></h3>
            <p class="lead">
                Projelerin ve işlerin planlanabilmesini ve takip edilebilmesini, kadroların
                görevlendirilmesini ve işlerin daha hızlı bir şekilde sonuçlandırılmasını sağlar.
            </p>
            <h3>İNSAN KAYNAKLARI <span class="text-muted">PROGRAMI</span></h3>
            <p class="lead">
                Personellerin işe alım, özlük yönetimi, izin takibi, ve puantaj oluşturmak gibi bir çok
                sürecin oluşturulmasını ve takip edilmesini sağlar.
            </p>
            <h3>İLETİŞİM <span class="text-muted">PROGRAMI</span></h3>
            <p class="lead">
                SMS, Mobil Bildirim ve Mail üzerinden hem bireysel hem de topluluk olarak mesaj gönderilmesini
                ve bu mesajlarla ilgili ayrıntılı raporlamalar alınmasını sağlar.
            </p>
        </div>
    </article>

    <article id="egitim-modulu" class="content row my-5 d-none">
        <div class="col-md-5 my-2 d-flex flex-column">
            <h1 class="content-title mt-md-0 mt-5">
                <span>Eğitim</span>
                Eğitim sürecinin daha iyi <strong>takip edilebilmesi ve geliştirilebilmesi</strong> için tasarlandı.
            </h1>
            <img class="my-auto" src="~/content/images/content/modul-egitim.svg" alt="Eğitim Modülü">
        </div>
        <div class="col-md-7 d-flex flex-column justify-content-center">
            <h3>YOKLAMA <span class="text-muted">PROGRAMI</span></h3>
            <p class="lead">
                Öğretmenlerin cep telefonlarından ya da akıllı tahtalardan yoklamalarını almalarını ve
                yetkili onayıyla velilere bildirim gönderilmesini sağlar.
            </p>
            <h3>DANIŞMANLIK <span class="text-muted">PROGRAMI</span></h3>
            <p class="lead">
                Danışman öğretmenlerin danışmanlık sürecini kayıt altına alabilmelerini ve aile iletişimini kurmalarını sağlar.
            </p>
            <h3>REHBERLİK <span class="text-muted">PROGRAMI</span></h3>
            <p class="lead">
                Rehberliğe ihtiyacı olan öğrencilerin rehberlik birimine aktarılmasını ve sürecin takip edilmesini sağlar.
            </p>
            <h3>DERS, NÖBET ve MÜFREDAT <span class="text-muted">PROGRAMI</span></h3>
            <p class="lead">
                Otomatik ders ve nöbet programı yapılmasını, izinli öğretmenler yerine atama yapılmasını,
                müfredat oluşturulmasını ve takip edilmesini sağlar.
            </p>
            <h3>ÖLÇME ve DEĞERLENDİRME <span class="text-muted">PROGRAMI</span></h3>
            <p class="lead">
                Farklı tip sınavlar gerçekleştirilmesini, bu sınavların sonuçlarının açıklanmasını, duyurulmasını sağlar.
            </p>
            <h3>ETÜT-KURS-KULÜP <span class="text-muted">PROGRAMI</span></h3>
            <p class="lead">
                Çok farklı çeşitlerde birebir ya da toplu etüt kurs ve kulüp planlanmasını ve de oluşturulmasını sağlar.
            </p>
            <h3>ÖDEV TAKİP <span class="text-muted">PROGRAMI</span></h3>
            <p class="lead">
                Öğretmenler tarafından oluşturulan ödevlerin takip edilmesini bildirilmesini ve raporlanmasını sağlar.
            </p>
        </div>
    </article>

    <!--  ----- CONTENTS -->



</div><!-- #page-wrap -->