/* 
Site: eduasist.com
Main Colors: green: #00758d, gray: #4a4f54
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;900&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
  min-height: 100vh;
  background: linear-gradient(110deg, #c5f5f2 0%, #008BCE 100%);
}
img {
  max-width: 100%;
}
ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}
hr {
  height: 0;
  overflow: hidden;
  border-top: 1px solid rgba(0, 119, 143, 0.1);
}

.container-custom {
  padding: 0 5%;
}

/**/
#header {
  padding: 3rem 0;
  transition: all .25s ease-in-out;
}
#header.sticky {
  padding: 1rem 0;
  background: white;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
#header .logo {
  height: 36px;
}
.navbar-nav .nav-item a {
  display: block;
  font-size: .875em;
  font-weight: 900;
  padding: .625em .5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 125ms linear;
  opacity: 0;
}
@media (max-width: 768px) {
  .navbar-collapse.collapse.show, .navbar-collapse.collapsing {
    background: #fff;
    padding: 1rem 0;
    text-align: center;
  }
}
/**/
#hero {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  padding-top: 7.25rem;
  /* background-image: url(images/hero-home-bg-2.svg); */
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  z-index: 0;
}
#hero.no-hero {
  height: 20vh;
}
#hero.half-hero {
  height: 50vh;
}
.hero-bg-1 {
  background-image: url(images/hero-home-bg.svg);
  transition: background-position .25s ease-in-out;
  background-position: 100vw center;
}
.hero-bg-2 {
  background-image: url(images/hero-bg-1.svg);
  transition: background-position .25s ease-in-out;
  background-position: center 100vh;
}
.hero-title {
  font-size: 12vh;
  font-weight: bold;
  color: #336;
  line-height: 1;
  text-shadow: 1px 1px 1px #fff;
  transition: opacity .25s ease-in-out;
  opacity: 0;
}
.hero-subtitle {
  color: #336;
  font-size: 4vh;
  text-shadow: 1px 1px 1px #fff;
  max-width: 50%;
  transition: opacity .25s ease-in-out;
  opacity: 0;
}
.hero-btns a {
  background-image: url(images/icon-school.svg);
  background-size: auto 75%;
  background-position: -20px;
  background-repeat: no-repeat;
  padding-left: 40px;
  transition: background-size 125ms ease-in-out;
  box-shadow: 0 .5rem 1rem #00000026;
}
.hero-btns a:hover {
  background-size: auto 100%;
}
.hero-btns a:first-child {
  background-image: url(images/icon-school.svg);
}
.hero-btns a:last-child {
  background-image: url(images/icon-course.svg);
}
@media (max-width: 768px) {
  .hero-title {
    font-size: 10vw;
  }
  .hero-subtitle {
    font-size: 4vw;
    max-width: 100%;
  }
}


/**/
main#main {
  margin-top: 100vh;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
  background: #fff;
  position: relative;
  z-index: 2;
}
#main.no-hero {
  margin-top: 20vh;
}
#main.half-hero {
  margin-top: 50vh;
}

.content-wrap {
  padding: 5% 7.5%;
  margin-bottom: 7.5%;
}
.content-title {
  font-size: 2em;
  letter-spacing: -.01em;
  line-height: 1.25;
  color: #224;
}
.content-title span {
  display: block;
  font-size: .6em;
  font-weight: 400;
  margin: 0 0 .25em;
  opacity: .75;
  text-transform: uppercase;
}
.content-items-wrap {
}
.content-item {
  position: relative;
  padding: 5%;
  transition: transform 125ms ease-in-out;
  margin-bottom: 30px;
}
.content-item:hover {
  transform: scale(1.05);
}
.content-item img {
  width: 7vw;
  margin: 0 auto 10px auto;
}
.content-item h2 {
  font-size: 1.25em;
  color: #224;
  font-weight: 900;
  letter-spacing: -.01em;
  line-height: 1.25;
  margin: 0 5px;
  text-align: center;
}
.content-item p {
  font-size: 1em;
  text-align: center;
  margin: 0;
}

.single-wrap {
  padding: 5% 7.5%;
}
.single-title {
  font-size: 2.5em;
  letter-spacing: -.01em;
  line-height: 1.25;
  color: #224;
}
.single-wrap h2 {
  margin: .1em 0 .5em;
  font-size: 2em;
  font-weight: bold;
}
.single-wrap h3{
  margin: 2em 0 .5em;
  font-size: 1.5em;
  font-weight: bold;
}
.single-wrap h4{
  margin: 2em 0 .5em;
  font-size: 1.25em;
  font-weight: bold;
}
.single-wrap p {
  font-size: 1.25em;
}

/**/
footer#footer {
  position: relative;
  z-index: 0;
  background: #fafafa;
  padding: 2% 7.5%;
}
.copyright {
  opacity: 0.5;
  font-size: .875em;
}