﻿/* 
Site: eduasist.com
Main Colors: green: #00758d, gray: #4a4f54
*/
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

:root {
    --hero-top-height: 7.25rem;
}

/*@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;900&display=swap');*/

body {
    /*font-family: 'Nunito Sans', sans-serif;*/
    font-family: "Roboto",sans-serif;
    min-height: 100vh;
    scroll-behavior: smooth;
    position: relative;
    /* background: linear-gradient(110deg, #c5f5f2 0%, #008BCE 100%); */
}

img {
    max-width: 100%;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

hr {
    height: 0;
    overflow: hidden;
    border-top: 1px solid rgba(0, 119, 143, 0.1);
}

.container-custom {
    padding: 0 5%;
}

/**/
#header {
    padding: 3rem 0;
    transition: all .25s ease-in-out;
}

    #header.sticky {
        padding: .5rem 0;
        background: white;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    }

    #header .logo {
        height: 36px;
    }

.navbar-nav .nav-item a {
    display: block;
    font-size: 1em;
    font-weight: 900;
    padding: .625em .5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity 125ms linear;
    opacity: 0;
}

.btn-header-login a {
    font-size: 1.1em !important;
    margin-top: -3px;
}

@media (max-width: 768px) {
    .navbar-collapse.collapse.show, .navbar-collapse.collapsing {
        background: #fff;
        padding: 1rem 0;
        text-align: center;
    }
}
/**/
#hero {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    padding-top: var(--hero-top-height);
    display: flex;
    z-index: 0;
    overflow-y: auto;
}

    #hero.no-hero {
        height: 20vh;
    }

    #hero.half-hero {
        height: 50vh;
    }
/**/
.hero-image-bg {
    position: fixed;
    z-index: -1;
    height: calc(100% - var(--hero-top-height) + 15px);
    width: 53%;
    bottom: 0;
    right: 0;
    /*background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-image: url(../images/heros/_hero-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    background-position-x: 100vw;*/
    transition: all 0.1s;
}

.hero-image {
    position: absolute;
    height: 95%;
    width: 100%;
    top: 30px;
    bottom: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    opacity: 0;
    transition: opacity 1s;
}

@media (max-width: 768px) {
    .hero-image-bg {
        width: 100%;
        height: 60%;
    }

    .hero-image {
        height: 65%;
        background-position: center bottom;
    }
}

@media (max-width: 992px) {
    .hero-image-bg {
        opacity: 0.4;
    }
}

@media (max-width: 576px) {
    .hero-image-bg {
        opacity: 0.8;
    }
}

/**/
.hero-title {
    font-size: 7vh;
    font-weight: bold;
    color: #4a4f54;
    line-height: 1.2;
    text-shadow: 1px 1px 1px #fff;
    transition: opacity .25s ease-in-out;
    opacity: 0;
    letter-spacing: -2px;
    font-style: italic;
}

    .hero-title b {
        font-weight: inherit;
        color: #00758d;
    }

.hero-subtitle {
    color: #4a4f54;
    font-size: 4vh;
    text-shadow: 0px 0px 1px #fff;
    max-width: 60%;
    text-align: center;
    transition: opacity .25s ease-in-out;
    opacity: 0;
    font-family: serif;
}

.hero-specifications {
    color: #4a4f54;
    font-size: 4vh;
    text-shadow: 1px 1px 1px #fff;
    max-width: 50%;
    transition: opacity .25s ease-in-out;
    opacity: 0;
    font-family: serif;
}

    .hero-specifications li {
        padding-left: 30px !important;
        margin-bottom: 10px;
        background-image: url(../images/icon-tick.svg);
        background-size: 2.8vh;
        background-repeat: no-repeat;
        background-position: left 7px;
        text-align: left;
        line-height: 1.2;
    }
/**/
.hero-home-btns a {
    background-size: auto 75%;
    background-position: -20px;
    background-repeat: no-repeat;
    transition: background-size 125ms ease-in-out;
    box-shadow: 0 .5rem 1rem #00000026;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 2em;
    font-style: italic;
    color: #00758d;
    padding: 20px 30px 10px 30px;
}

    .hero-home-btns a img {
        filter: grayscale();
        height: 25px;
    }

    .hero-home-btns a:hover {
        color: #00758d;
    }

        .hero-home-btns a:hover img {
            filter: none;
        }

.hero-home-btns strong {
    font-weight: bold;
    letter-spacing: -1px;
    margin-top: -8px;
    font-style: italic;
    font-family: monospace;
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 10vw;
    }

    .hero-subtitle {
        font-size: 5vw;
        max-width: 100%;
    }

    .hero-specifications {
        max-width: 100%;
        zoom: 0.8;
    }
}

/**/
#page_wrap {
    margin-top: 100vh;
    min-height: 100vh;
    height: auto;
    overflow: hidden;
    background: #fff;
    position: relative;
    z-index: 2;
    box-shadow: 0px 0px 15px rgba(0,0,0,.075);
}

    #page_wrap.no-hero {
        margin-top: 20vh;
    }

    #page_wrap.half-hero {
        margin-top: 50vh;
    }

article.content {
    padding: 9% 7.5%;
    margin-bottom: 7.5%;
    position: relative;
    z-index: -1;
    min-height: 100vh;
    max-width: 2500px;
    margin-left: auto;
    margin-right: auto;
}

.content-title {
    font-size: 1em;
    letter-spacing: -.01em;
    line-height: 1.25;
    color: #4a4f54;
}
    .content-title strong {
        font-size: 1.5em;
        background-image: url(../images/icon-module-title.svg);
        background-repeat: no-repeat;
        background-position: left;
        padding-left: 40px;
        background-size: contain;
    }
    .content-title span {
        display: block;
        font-weight: 400;
        margin: .2em 0 .8em 0;
        opacity: .75;
        padding-left: 40px;
        text-transform: uppercase;
    }

.content h3 {
    padding-top: 10px;
    font-size: 1.2em;
}

.content .lead {
    line-height: 1.1;
    text-indent: 15px;
    font-size: 1.1em;
    margin-bottom: 3px;
}

.content img {
    /*max-width: 75%;
    margin-right: auto;
    margin-left: auto;*/
}
/**/
.content-collapse {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #00758d;
    border-radius: .25rem;
    overflow: hidden;
}

    .content-collapse .content-block {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        /*transition: all 0.7s;*/
    }

        .content-collapse .content-block img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }

        .content-collapse .content-block .content-block-body {
            margin:10px;
            min-width: 100%;
        }
            .content-collapse .content-block .content-block-body h2 {
                font-size:1em;
            }

            .content-collapse .content-block .content-block-body p {
                height: 0;
                overflow: hidden;
                opacity: 0;
                transition: all 0.2s;
            }
    /**/
    .content-collapse.open {
        flex-direction: row;
        padding-top:20px;
    }

        .content-collapse.open .content-block {
            width: 70% !important;
            margin-left:auto;
            margin-right:auto;
            flex-direction: row;
            text-align: left;
        }

            .content-collapse.open .content-block:nth-child(2n) {
                flex-direction: row-reverse;
            }

            .content-collapse.open .content-block img {
                max-width: 30%;
            }

            .content-collapse.open .content-block .content-block-body {
                min-width: 50%;
            }
                .content-collapse.open .content-block .content-block-body h2 {
                    font-size: 1.5em;
                }
                .content-collapse.open .content-block .content-block-body p {
                    height: auto;
                    opacity: 1;
                }
.btn-collapse {
    position: relative;
    padding-bottom: 12px;
    overflow: hidden;
    border-top: 1px solid #dee2e6;
}
    .btn-collapse::before {
        content: '';
        width: 20px;
        height: 10px;
        position: absolute;
        bottom: -3px;
        background: url(../images/icon-downarrow.svg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 20px;
        width: 200%;
        height: 200%;
        left: -50%;
    }
.content-collapse.open .btn-collapse {
    margin-top:40px !important;
}
.content-collapse.open .btn-collapse::before {
    transform: rotate(180deg);
    bottom: -55px;
}
/**/
#page-content-menu {
    top: 70px;
    overflow-x: auto;
    overflow-y: hidden;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s;
}

    #page-content-menu.visible {
        opacity: 1;
    }

    #page-content-menu ul li {
        white-space: nowrap;
        font-size: 0.9em;
    }

        #page-content-menu ul li:first-child:before {
            display: none;
        }

        #page-content-menu ul li:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 0;
            padding: 2px;
            margin: 2px 5px;
            background: #00758d;
            width: 0;
            overflow: hidden;
            border-radius: 50%;
        }

    #page-content-menu a {
        margin: 0 .5em;
        text-decoration: none;
    }

@media (max-width: 768px) {
    #page-content-menu {
        top: 55px;
    }
        #page-content-menu ul {
            justify-content: flex-start !important;
        }

    .content-collapse .content-block {
        width:50% !important;
    }
}
/**/
.more-page-content {
    position: absolute;
    background-image: url(../images/icon-downarrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px;
    bottom: 0;
    margin: 0 auto;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
}

    .more-page-content:hover {
        opacity: 0.7;
    }

/**/
.module-item {
    position: relative;
    padding: 5%;
    transition: transform 125ms ease-in-out;
    margin-bottom: 30px;
    background-color: #00758d;
    background-image: radial-gradient(white, #9cdbf6);
}

    .module-item:hover {
        transform: scale(1.05);
    }

    .module-item img {
        width: 7vw;
        margin: 0 auto 10px auto;
    }

    .module-item h2 {
        font-size: 1.25em;
        color: #343a40;
        font-weight: 900;
        letter-spacing: -.01em;
        line-height: 1.25;
        margin: 0 5px;
        text-align: center;
    }

    .module-item p {
        font-size: 1em;
        text-align: center;
        margin: 0;
    }

/**/
.price-card {
    min-height: 240px;
}

    .price-card .card-header {
        font-style: italic;
    }

        .price-card .card-header img {
            max-width: 130px;
        }

        .price-card .card-header h4 {
            font-weight: bold !important;
            color: #00758d;
        }

/**/
.single-wrap {
    padding: 5% 7.5%;
}

.single-title {
    font-size: 2.5em;
    letter-spacing: -.01em;
    line-height: 1.25;
    color: #224;
}

.single-wrap h2 {
    margin: .1em 0 .5em;
    font-size: 2em;
    font-weight: bold;
}

.single-wrap h3 {
    margin: 2em 0 .5em;
    font-size: 1.5em;
    font-weight: bold;
}

.single-wrap h4 {
    margin: 2em 0 .5em;
    font-size: 1.25em;
    font-weight: bold;
}

.single-wrap p {
    font-size: 1.25em;
}

/**/
footer#footer {
    position: relative;
    z-index: 0;
    background: #fafafa;
    padding: 2% 7.5%;
    font-size: .875em;
}

    footer#footer img {
        height: 25px;
    }
