﻿<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EduAsist</title>
    <link rel="stylesheet" href="~/content/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/content/css/site.css" />
</head>
<body>
    <header id="header" class="fixed-top">
        <nav class="navbar navbar-expand-md navbar-light container-custom">
            <a class="navbar-brand more-link" href="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "/#main" : "/Home/Index")" title="EduAsist">
                <img class="logo" src="~/content/images/logo.svg" alt="EduAsist">
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto bg-white rounded p-1">
                    <li class='nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")'>
                        <a class="nav-link more-link" href="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "/#main" : "/Home/Index")" title="EduAsist Anasayfa">Anasayfa</a>
                    </li>
                    @*<li class='nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Okul" ? "active" : "")'>
                        <a class="nav-link" href="/Okul/Okul" title="Okul">Okul</a>
                    </li>
                    <li class='nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Kurs" ? "active" : "")'>
                        <a class="nav-link" href="/Kurs/Kurs" title="Kurs">Kurs</a>
                    </li>*@
                    <li class='nav-item mb-md-0 mb-3 @(ViewContext.RouteData.Values["Action"].ToString() == "Iletisim" ? "active" : "")'>
                        <a class="nav-link" href="/Home/Iletisim" title="iletişim">İletişim</a>
                    </li>
                    <li class='nav-item btn-header-login'>
                        <a href="#" class="nav-link btn btn-info text-white ml-md-5 px-4" title="Eduasist Giriş yap">
                            Giriş
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main id="main">
        @RenderBody()
    </main>

    @{
        if (!ViewData.ContainsKey("only-hero"))
        {
            <footer id="footer">
                <div class="row align-items-center text-muted">
                    <div class="col copyright">
                        © EDUASIST 2020
                    </div>
                    <div class="col text-right">
                        corporate by <img src="~/content/images/asistek-logo.svg" alt="asistek">
                    </div>
                </div>
            </footer>
        }
    }

    <script src="~/content/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/content/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/content/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
