﻿  <article id="teklif-al" class="content container mx-auto my-5 card-deck text-center" style="min-height:50vh;">
    <div class="price-card card mb-4 shadow-sm my-3 mt-md-3 mt-5">
        <div class="card-header">
            <img class="logo" src="~/content/images/logo.svg">
            <h4 class="my-0 font-weight-normal">OKUL ELITE</h4>
        </div>
        <div class="card-body d-flex flex-column">
            <p>
                2.Nesil Eğitim Kurumları Yönetim Programı ve Dijital Yönetici Asistanı
            </p>
            <a href="/Home/Iletisim" class="btn btn-lg btn-block btn-outline-info mt-auto">Teklif Al</a>
        </div>
    </div>
    <div class="price-card card mb-4 shadow-sm">
        <div class="card-header">
            <img class="logo" src="~/content/images/logo.svg">
            <h4 class="my-0 font-weight-normal">OKUL PRO</h4>
        </div>
        <div class="card-body d-flex flex-column">
            <p>
                Yapay Zeka ve Makine öğrenmesiyle, Veri madenciliği yapar ve Uzman sistem desteği sağlar
            </p>
            <a href="/Home/Iletisim" class="btn btn-lg btn-block btn-info mt-auto">Teklif Al</a>
        </div>
    </div>
    <div class="price-card card mb-4 shadow-sm my-3 mt-md-3 mt-5">
        <div class="card-header">
            <img class="logo" src="~/content/images/logo.svg">
            <h4 class="my-0 font-weight-normal">KURS ELITE</h4>
        </div>
        <div class="card-body d-flex flex-column">
            <p>
                Eğitim kurumları yönetim programı
            </p>
            <a href="/Home/Iletisim" class="btn btn-lg btn-block btn-outline-info mt-auto">Teklif Al</a>
        </div>
    </div>
    <div class="price-card card mb-4 shadow-sm">
        <div class="card-header">
            <img class="logo" src="~/content/images/logo.svg">
            <h4 class="my-0 font-weight-normal">KURS PRO</h4>
        </div>
        <div class="card-body d-flex flex-column">
            <p>
                Yapay Zeka ve Makine öğrenmesiyle, Veri madenciliği yapar ve Uzman sistem desteği sağlar
            </p>
            <a href="/Home/Iletisim" class="btn btn-lg btn-block btn-info mt-auto">Teklif Al</a>
        </div>
    </div>
</article>