﻿@{
    ViewData["Title"] = "Kurs";
}

<div id="hero">
    <span class="hero-image-bg">
        <span class="hero-image" style="background-image: url(../content/images/heros/kurs-2.png);"></span>
        <span class="hero-image" style="background-image: url(../content/images/heros/kurs.svg);"></span>
        <span class="hero-image" style="background-image: url(../content/images/heros/kurs-3.png);"></span>
        <span class="hero-image" style="background-image: url(../content/images/heros/kurs-4.png);"></span>
    </span>

    <div class="container-custom d-flex flex-column mt-md-5 mt-3 mx-md-1 mx-auto text-md-left text-center">
        <h1 class="hero-title">
            Sizin için<br> en doğru araç;
        </h1>

        <p class="hero-subtitle text-left mw-100 mt-4 mb-5">
            İyi yönetmek için doğru kararlar almak,<br />
            Doğru kararları almak için iyi analizler yapmak,<br />
            İyi analizler yapmak içinse doğru araçları kullanmak gerekir...
        </p>
        <a href="#page_wrap" class="more-link more-page-content" title="devamı"></a>
    </div><!-- .container-custom -->
</div><!-- #hero -->

<div id="page_wrap">

    <nav id="page-content-menu" class="fixed-top bg-light shadow-sm">
        <ul class="container-custom py-2 shadow-sm d-flex flex-nowrap justify-content-end">
            <li><a href="#isletme-modulu" class="more-link text-dark" title="İşletme Modülü">İşletme</a></li>
            <li><a href="#finans-ve-muhasebe-modulu" class="more-link text-dark" title="Finans ve Muhasebe Modülü">Finans ve Muhasebe</a></li>
            <li><a href="#yonetim-modulu" class="more-link text-dark" title="Yönetim Modülü">Yönetim</a></li>
            <li><a href="#egitim-modulu" class="more-link text-dark" title="Eğitim Modülü">Eğitim</a></li>
            @*<li><a href="#teklif-al" class="more-link text-dark">Teklif Al</a></li>*@
        </ul>
    </nav>

    <article class="content row my-5">
        <div class="col-12">
            <p class="text-center text-dark h5">
                Öğrenciden kurucuya, kayıt görüşmesinden mezuniyet törenine, yoklamadan muhasebeye
            </p>
            <h1 class="content-title text-center mb-3 text-dark">
                <strong>4 Ana alanda</strong> yüzlerce çözüm sunar.
            </h1>
        </div>
        <ul class="col-12 row">
            <li class="col-md-3 col-12 p-2">
                <div class="module-item d-flex flex-column rounded">
                    <img src="~/content/images/content/icon-modul-isletme.svg" alt="title">
                    <h2>İşletme</h2>
                    <a href="#isletme-modulu" class="stretched-link more-link" title="İşletme Modülü"></a>
                </div>
            </li><!-- .col -->
            <li class="col-md-3 col-12 p-2">
                <div class="module-item d-flex flex-column rounded">
                    <img src="~/content/images/content/icon-modul-finans.svg" alt="title">
                    <h2>Finans ve Muhasebe</h2>
                    <a href="#finans-ve-muhasebe-modulu" class="stretched-link more-link" title="Finans ve Muhasebe Modülü"></a>
                </div>
            </li><!-- .col -->
            <li class="col-md-3 col-12 p-2">
                <div class="module-item d-flex flex-column rounded">
                    <img src="~/content/images/content/icon-modul-yonetim.svg" alt="title">
                    <h2>Yönetim</h2>
                    <a href="#yonetim-modulu" class="stretched-link more-link" title="Yönetim Modülü"></a>
                </div>
            </li><!-- .col -->
            <li class="col-md-3 col-12 p-2">
                <div class="module-item d-flex flex-column rounded">
                    <img src="~/content/images/content/icon-modul-egitim.svg" alt="title">
                    <h2>Eğitim</h2>
                    <a href="#egitim-modulu" class="stretched-link more-link" title="Eğitim Modülü"></a>
                </div>
            </li><!-- .col -->
        </ul><!-- .row -->
    </article>


    <!--  CONTENTS ------  -->

    <hr>

    <article id="isletme-modulu" class="content row my-5">
        <div class="col-md-5 d-flex flex-column my-2">
            <h1 class="content-title mt-md-0 mt-5">
                <span>İşletme</span>
                Kursun kayıt <strong>yoğunluğunu</strong> arttırmak için tasarlandı.
            </h1>
            <img class="my-auto" src="~/content/images/content/modul-isletme2.png" alt="İşletme Modülü">
        </div>
        <div class="col-md-7">
            <h3>Arama <span class="text-muted">Programı</span></h3>
            <p class="lead">
                Dataların, arama kart sistemi ile arama ekipleri tarafından daha verimli aranmasını ve takip edilmesini sağlar.
            </p>
            <p class="lead">
                Kaç arama yapıldığı, kaç randevu oluşturulduğu ve arama ayrıntıları gibi birçok bilginin tutulmasını ve analizli
                raporlarla incelenmesini sağlar.
            </p>
            <h3>Kayıt Görüşme <span class="text-muted">Programı</span></h3>
            <p class="lead">
                Kayıt görüşme süreçlerindeki tüm verilerin eksiksiz girilmesini ve takip edilmesini sağlar.
            </p>
            <p class="lead">
                Kimin kaç gün görüşme yaptığı, görüşmelerin ayrıntıları, müşterilerin görüşme süreciyle ve kurumla ilgili değerlendirmeleri,
                görüşme sonuçları gibi birçok bilginin elde edilmesini ve analizli raporlarla incelenmesini sağlar.
            </p>
            <h3>İç Kayıt <span class="text-muted">Programı</span></h3>
            <p class="lead">
                Kayıt yenileme görüşmesi süreçlerindeki tüm verilerin eksiksiz girilmesini ve takip edilmesini sağlar.
            </p>
            <p class="lead">
                Hangi kurstan, hangi şubeden, hangi sınıftan; kimlerin ödemesinin bittiği, kaç görüşme yapıldığı,
                kaç kayıt alınıldığı, artış oranları gibi bir çok bilginin tutulmasını ve analizli raporlarla incelenmesini sağlar.
            </p>
            <h3>Bursluluk Sınav Takip <span class="text-muted">Programı</span></h3>
            <p class="lead">
                Bursluluk sınavlarından elde edilen datanın işletmesel verilere çevrilmesini ve bunların daha verimli takip edilmesini sağlar.
            </p>
            <p class="lead">
                Hangi bölgeden hangi kursların sınavlara katınıldığı, kaç görüşme yapıldığı, bu görüşmelerden kaç kayıt alınıldığı gibi birçok
                bilginin elde edilmesini ve analizli raporlarla incelenmesini sağlar.
            </p>
            <h3>Kayıt <span class="text-muted">Programı</span></h3>
            <p class="lead">
                Tüm görüşmeler sonucunda gerçekleşen kayıtlardan elde edilen verilerin girilmesini fiyatlandırmasını, taksitlendirilerek ödeme
                planının ve şeklinin belirlenmesini sağlar.
            </p>
            <p class="lead">
                Hangi tarihlerde, hangi bölgelerden kaç kayıt alınıldığı, kaydı gerçekleştirenin kimler olduğu, ortalamalar, müşterilerin tercih
                nedenleri, müşterilerin beklentileri gibi bir çok önemli bilginin tutulmasını ve bu bilgilerden analizli raporlar elde edilmesini
                sağlar.
            </p>
        </div>
    </article>

    <hr>

    <article id="finans-ve-muhasebe-modulu" class="content row my-5">
        <div class="col-md-5 my-2 d-flex flex-column">
            <h1 class="content-title mt-md-0 mt-5">
                <span>Finans ve Muhasebe</span>
                Sadece kurslara özel, muhasebel <strong>açık verilmemesi</strong> ve finansal sürecin <strong>eksiksiz</strong> takip edilebilmesi için tasarlandı.
            </h1>
            <img class="my-auto" src="~/content/images/content/modul-finans2.svg" alt="Finans ve Muhasebe Modülü">
        </div>
        <div class="col-md-7">
            <h3>Gelir Gider <span class="text-muted">Programı</span></h3>
            <p class="lead">
                Kurumların tüm gelir ve giderlerini kategorilerine ve etiketlerine göre eksiksiz girebilmelerini ve bu verilerin basılı ve
                dijital arşivlenmesini sağlar.
            </p>
            <p class="lead">
                En çok nereye para harcandığını, En çok hangi paketlerden gelir elde edildiğini, şirket yada şube, kurs, sınıf
                karlılıkları gibi bir çok bilginin ayrıntılı ve analizli bir şekilde incelenmesini sağlar.
            </p>
            <h3>Kasalar ve Bankalar <span class="text-muted">Programı</span></h3>
            <p class="lead">
                Kurumların tüm kasalarına para giriş çıkışının eksiksiz ve kontrollü bir şekilde girilebilmesini ve bu verilerin korunmasını sağlar.
            </p>
            <p class="lead">
                Hangi kasada ve bankada ne kadar nakit, çek ve senet olduğunu, hangi tarihler arasında ne kadar hareket olduğunu gibi birçok bilginin ayrıntılı ve analizli bir şekilde incelenmesini sağlar.
            </p>
            <h3>Tedarikçiler <span class="text-muted">Programı</span></h3>
            <p class="lead">
                Kurumların tüm satın alma sürecinde tekliflerin toplanmasını satın almanın gerçekleştirilmesini ve ödeme planının oluşturularak
                ödemelerin takip edilmesini sağlar.
            </p>
            <p class="lead">
                Hangi tedarikçiden hangi teklifin alındığını, hangi satın almanın gerçekletiğini ve hangi tedarikçiye ne kadar ödeme ve borç
                olduğu gibi birçok bilginin ayrıntılı ve analizli bir şekilde incelenmesini sağlar.
            </p>
            <h3>Faturalar <span class="text-muted">Programı</span></h3>
            <p class="lead">
                Kurumların kendi fatura şablonlarını oluşturmasını, Müşterilerin ödelemerinin faturalaştırılmasını, takip edilmesini,
                otomatikleştirilmesini ve kesilmesini sağlar.
            </p>
            <p class="lead">
                Ne kadar fatura kesildiğini ve kesilmesinin gerektiğini, ne kadar KDV oluştuğunu gibi birçok bilginin ayrıntılı ve analizli
                bir şekilde incelenmesini sağlar.
            </p>
            <h3>Finansal Planlama ve Nakit Akışı <span class="text-muted">Programı</span></h3>
            <p class="lead">
                Kurumların gelir ve giderlerinin planlanmasını, tekrar eden giderlerin girilmesini sağlar.
            </p>
            <p class="lead">
                Hangi ay ne kadar tahsilat olacağını ve hangi ay ne kadar gider olacağını, aylık açık ve fazlalığın görülmesini,
                ödeme planı yapılmasını gibi birçok bilginin ayrıntılı ve analizli bir şekilde incelenmesini sağlar.
            </p>
        </div>
    </article>

    <hr>

    <article id="yonetim-modulu" class="content row my-5">
        <div class="col-md-5 my-2 d-flex flex-column">
            <h1 class="content-title mt-md-0 mt-5">
                <span>Yönetim</span>
                Sadece <strong>kurs yöneticilerine özel</strong>; yönetimle ilgili çok daha doğru kararlar alınabilmesi ve çok daha doğru uygulamalar
                yapılabilmesi için tasarlandı.
            </h1>
            <img class="my-auto" src="~/content/images/content/modul-yonetim2.svg" alt="Yönetim Modülü">
        </div>
        <div class="col-md-7">
            <h3>Asistan <span class="text-muted">Programı</span></h3>
            <p class="lead">
                Yönetim kadrosunun ihtiyaç duyduğu ve de duyabileceği tüm alanlarda tespitler yapılmasını, detaylı raporlar oluşturulmasını ve
                bu raporların ilgili birimlere periyodik paylaşılmasını sağlar.
            </p>
            <p class="lead">
                Program makine öğrenmesi algoritmaları ile yapacağı çıkarımlarla periyodik bilgilendirmeler yaparak, gelecek gündemler için
                önceden hazırlık yapılmasını sağlar ve kritik konulardaki karar alma süreçlerine katkı sağlar.
            </p>
            <h3>İş Takip <span class="text-muted">Programı</span></h3>
            <p class="lead">
                Projelerin ve işlerin planlanabilmesini ve takip edilebilmesini, kadroların görevlendirilmesini ve işlerin daha hızlı bir
                şekilde sonuçlandırılmasını sağlar.
            </p>
            <p class="lead">
                Kimlere hangi görevlerin atandığı, işlerin ilerleme durumu, gecikmiş görevleri ve görevlerle ilgili yorumları gibi bir çok
                önemli bilginin ayrıntılı ve analizli bir şekilde incelenmesini sağlar.
            </p>
            <h3>İnsan Kaynakları <span class="text-muted">Programı</span></h3>
            <p class="lead">
                Personellerin işe alım, özlük yönetimi, izin takibi, ve puantaj gibi bir çok sürecinin oluşturulmasını ve takip edilebilmesini
                sağlar.
            </p>
            <p class="lead">
                Personellerin çalışma sürecinden ek ders ücret hesaplamasına, izin planlamasından performans yönetimine kadar bir çok
                çözüm sunar.
            </p>
            <h3>İletişim <span class="text-muted">Programı</span></h3>
            <p class="lead">
                Kurucudan öğrenciye, öğretmenden veliye kadar kurumun tüm birimleri arasında etkin bir iletişim sağlar.
            </p>
            <p class="lead">
                SMS, Mobil Bildirim ve Mail üzerinden hem bireysel hem de topluluk olarak mesaj gönderilmesini ve bu mesajlarla ilgili
                ayrıntılı raporlamalar alınmasını sağlar.
            </p>
            <h3>Kurumsal Hafıza Ajandası ve Demirbaş <span class="text-muted">Programı</span></h3>
            <p class="lead">
                Kurumlardaki karşılaşılan problemlere üretilmiş çözümlerin arşivlenebilmesi ve ileride tekrar aynı problemlerle
                karşılaşıldığında sunulabilmesini sağlar.
            </p>
            <p class="lead">
                Aynı zamanda kurumdaki tüm demirbaşın listelenmesini ve zimmetlenmesini sağlar.
            </p>
        </div>
    </article>

    <hr>

    <article id="egitim-modulu" class="content row my-5">
        <div class="col-md-5 my-2 d-flex flex-column">
            <h1 class="content-title mt-md-0 mt-5">
                <span>Eğitim</span>
                Kurslarda eğitim sürecinin <strong>takip edilebilmesi ve geliştirilebilmesi</strong> için tasarlandı.
            </h1>
            <img class="my-auto" src="~/content/images/content/modul-egitim2.svg" alt="Eğitim Modülü">
        </div>
        <div class="col-md-7">
            <h3>Yoklama <span class="text-muted">Programı</span></h3>
            <p class="lead">
                Öğretmenlerin cep telefonlarından yada akıllı tahtalardan yoklamalarını almalarını ve yetkili onayıyla velilere bildirim
                gönderilmesini sağlar.
            </p>
            <h3>Danışmanlık <span class="text-muted">Programı</span></h3>
            <p class="lead">
                Danışman öğretmenlerin danışmanlık sürecini kayıt altına alabilmelerini ve aile iletişimini kurmalarını sağlar.
            </p>
            <h3>Rehberlik <span class="text-muted">Programı</span></h3>
            <p class="lead">
                Rehberliğe ihtiyacı olan öğrencilerin rehberlik birimine aktarılmasını ve sürecin takip edilmesini sağlar.
            </p>
            <h3>Ders, Nöbet, Zil ve Müfredat <span class="text-muted">Programı.</span></h3>
            <p class="lead">
                Otomatik ders ve nöbet programı yapılmasını, izinli öğretmenler yerine atama yapılmasını, müfredat oluşturulmasını ve
                takip edilmesini sağlar.
            </p>
            <h3>Ölçme ve Değerlendirme <span class="text-muted">Programı</span></h3>
            <p class="lead">
                Farklı tip sınavlar gerçekleştirilmesini, bu sınavların sonuçlarının açıklanmasını, duyurulmasını sağlar.
            </p>
            <p class="lead">
                Öğrencinin, sınıfın ve kursun yıl içerisindeki performansının görülmesini ve analizli bir şekilde incelenmesini sağlar.
            </p>
            <h3>Etüt-Kurs-Kulüp <span class="text-muted">Programı</span></h3>
            <p class="lead">
                Çok farklı çeşitlerde birebir ya da toplu etüt kurs ve kulüp planlanmasını ve de oluşturulmasını sağlar.
            </p>
            <h3>Ödev Takip <span class="text-muted">Programı</span></h3>
            <p class="lead">
                Öğretmenler tarafından oluşturulan ödevlerin takip edilmesini bildirilmesini ve raporlanmasını sağlar.
            </p>
            <h3>Çalışma ve Akademik Takvim <span class="text-muted">Programı</span></h3>
            <p class="lead">
                Kurumların kendi akademik ve çalışma planlarını oluşturabilmelerini ve takip edebilmelerini sağlar.
            </p>
        </div>
    </article>

    <!--  ----- CONTENTS -->

    

</div><!-- #page-wrap -->